.page_wrapper {
	max-width: 100%;
	height: auto;
	min-height: 750px;
	background: #FFF6EA;
	margin-left: auto;
	margin-right: auto;
}

.header {
	width: 100%;
	height: 140px;
	background: #FFEACD;
}
.logo-field {
	width: 25%;
	height: 140px;
	float: left;
}
.logo-field img {
	width: 40%;
	margin-left: 20%;
	margin-top: 5%;
}

.nav-bar {
	width: 45%;
	height: 115px;
	float: left;
	margin-top: 50px;
}
.account {
	width: 30%;
	height: 115px;
	float: left;
}
.social {
	width: 100%;
	height: 50%;
}
.social img {
	float: right;
	width: 10%;
	margin-right: 5%;
}
.acc {
	width: 100%;
	height: 50%;
}
.signup-acc {
	width: 40%;
	height: auto;
	padding: 10px;
	color: white;
	text-align: center;
	background: #E28700;
	float: right;
	border-radius: 50px;
	border-width: 0px;
	margin-right: 5%;
}
.login-acc {
	width: 35%;
	height: auto;
	padding: 10px;
	color: black;
	text-align: center;
	float: left;
	margin-left: 15%;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
