.login-box {
	width: 91%;
	height: auto;
	min-height: 400px;
	background: #FFDEAE;
	border: 10px solid white;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
.login-card {
	width: 60%;
	margin-top: 100px;
	margin-left: 20%;
}
.input-field {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
.input-field label {
	margin-top: 10px;
	margin-bottom: 5px;
	float: left;
	margin-left: -100px;
}

.input-form {
	height: 40px;
	width: 100%;
	border-radius: 50px;
	border-width: 0px;
}
.submit-button {
	width: 20%;
	margin-top: 24px;
	margin-left: auto;
	margin-right: auto;
}
.login-button {
	height: 40px;
	width: 100%;
	border-radius: 50px;
	border-width: 0px;
	color: white;
	background-color: #E28700;
	box-shadow: px 2px 5px grey;
}

.help-box {
	width: 15%;
	height: 140px;
	float: right;
}

.help-box div {
	width: 100%;
	height: 80%;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	color: #DE8600;
	text-align: center;
}
.help-box div img {
	width: 30%;
	margin-bottom: 10px;
}