.card-body {
	width: 60%;
	margin-top: 100px;
	margin-bottom: 100px
	margin-left: 20%;
}

.btn.btn-primary {
	width: 20%;
	margin-top: 24px;
	margin-left: auto;
	margin-right: auto;
}

.btn.btn-primary #changePassButton {
	width: 20%;
	margin-top: 24px;
	margin-left: auto;
	margin-right: auto;
}

.btn.btn-primary #submitButton {
	height: 40px;
	width: 100%;
	border-radius: 50px;
	border-width: 0px;
	color: white;
	background-color: #E28700;
	box-shadow: px 2px 5px grey;
}

.form-group {
	margin-top: 0px;
	margin-bottom: 5px;
	float: left;
	margin-left: -150px;
	border-radius: 150px;
}

.form-group label {
	margin-top: 10px;
	margin-bottom: 5px;
	float: left;
	margin-left: -100px;
}

.form-group #formHeader {
	text-align: center;
}

.form-group #endButtonsDiv{
	width: 60%;
	margin-top: 50px;
	margin-bottom: 50px
	margin-left: 20%;
}