.card-body {
	width: 30%;
	height: auto;
	min-height: 400px;
	background: #FFDEAE;
	border: 10px solid white;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}


.form-group {
	padding-left: 10%;
}

.form-group label{
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
}

.form-group input {
	display: inline-block; 
	border-radius: 150px;
	width: 30%;
	margin-top: 10px;
	margin-bottom: 5px;
	box-sizing: border-box;
	width: 90%;
}

.button:hover {
	opacity: 0.8;
}

.form-group button{
	width: 40%;
	margin-top: 24px;
	margin-bottom: 24px;
	margin-left: 15%;
	margin-right: 35%;
	background-color: #E26100;
	box-shadow: px 2px 5px grey;
	height: 40px;
	border-radius: 50px;
	border-width: 0px;
	color: yellow;
}

#formHeader {
	width: 100%;
	margin-left: 5%;
}

button#changePassButton {
	width: 60%;
	background-color: #F20400;
	margin-left: 5%;
	position: center;
}

div.form-group#formHeader {
    border-bottom: solid 3px #0c525d;
}

button#submitButton {
	margin-left: 25%;
}