.signup-box {
	width: 91%;
	height: auto;
	min-height: 400px;
	background: #FFDEAE;
	border: 10px solid white;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
.card-body {
	width: 60%;
	margin-left: 20%;
}

.input-field {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}
.input-field div {
	margin-top: 0px;
	margin-bottom: 5px;
	float: left;
	margin-left: -150px;
}
.input-field div .br { 
    display: block; 
    margin-bottom: -1em; 
} 
.option {
	color: rgba(0, 0, 0, 0.5);
	clear: both;
}

.input-form {
	width: 100%;
	height: 40px;
	border-radius: 50px;
	border-width: 0px;
}

.submit-button {
	width: 20%;
	margin-top: 24px;
	margin-left: auto;
	margin-right: auto;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: left;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 2px solid grey;
  background-color: white;
}


/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 3px;
	left: 3px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: orange;
}


.sign-button {
	height: 40px;
	width: 100%;
	border-radius: 50px;
	border-width: 0px;
	color: white;
	background-color: #E28700;
	box-shadow: px 2px 5px grey;
}

.help-box {
	width: 15%;
	height: 140px;
	float: right;
	margin-top: -11%;
}
.help-box img {
	width: 20%;
	margin-bottom: 10px;
}
.help-box div {
	width: 50%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	color: #DE8600;
	text-align: center;
}
.help-box div img {
	width: 60%;
	margin-bottom: 10px;
}