body {

}

/*Chat function*/
#app {
    width: 100%;
}
#charCard {
    margin-top: 50px;
}
#chatHeader {
    text-align: center;
    font-weight: bold;
    font-family: "Luckiest Guy", cursive;
    font-size: 20px;
}
#contactName {
    font-weight: bold;
    text-align: center;
}
/*End chat function*/

span#loginError {
    color: red;
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
}
.login-box {
	width: 91%;
	height: auto;
	min-height: 400px;
	background: #FFDEAE;
    box-shadow: 0 4px 4px 0 #0000002b;
    border-radius: 4px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
.login-card {
	width: 60%;
	margin-top: 100px;
	margin-left: 20%;
}
.login-card #loginError {
	margin-left: 30%;
}
.input-field {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
.input-field label {
	margin-top: 10px;
	margin-bottom: 5px;
	float: left;
	margin-left: -100px;
}

.input-form {
	height: 40px;
	width: 100%;
	border-radius: 4px;
    border-width: 0;
    padding-left: 20px;
}
.submit-button {
	width: 20%;
	margin-top: 24px;
	margin-left: auto;
	margin-right: auto;
}
.login-button {
	height: 40px;
	width: 100%;
	border-radius: 4px;
	border-width: 0;
	color: white;
	background-color: #FF9800;
}

.help-box {
	width: 15%;
	height: 140px;
	float: right;
}

.help-box div {
	width: 100%;
	height: 80%;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	color: #DE8600;
	text-align: center;
}
.help-box div img {
	width: 30%;
	margin-bottom: 10px;
}

/* Sign Up */

.signup-box {
	width: 91%;
	height: auto;
	min-height: 400px;
	background: #FFDEAE;
    box-shadow: 0 4px 4px 0 #0000002b;
    border-radius: 4px;
	margin: 20px auto 20px auto;
	overflow: hidden;
}
.card-body {
	width: 60%;
	margin-left: 20%;
}

.input-field {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}
.input-field div {
	margin-top: 0;
	margin-bottom: 5px;
	float: left;
	margin-left: -150px;
}
.input-field div .br {
    display: block;
    margin-bottom: -1em;
}
.option {
	color: rgba(0, 0, 0, 0.5);
	clear: both;
}

.input-form {
	width: 100%;
	height: 40px;
	border-radius: 4px;
	border-width: 0;
}

.submit-button {
	width: 20%;
	margin-top: 24px;
	margin-left: auto;
	margin-right: auto;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: left;
}
.box {
	width: 91%;
	height: auto;
	min-height: 400px;
    background: #FFDEAE;
    box-shadow: 0 4px 4px 0 #0000002b;
	border-radius: 4px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
.box-message {
    width: 80%;
    height: auto;
	margin-top: 100px;
    margin-left: 10%;
    text-align: center;
}
h2 {
    color: red;
    font-weight: bold;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 2px solid grey;
  background-color: white;
}


/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {

}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 3px;
	left: 3px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #FF9800;
}


.sign-button {
	height: 40px;
	width: 100%;
	border-radius: 4px;
	border-width: 0;
	color: white;
	background-color: #FF9800;
    font-weight: 700;
}

.help-box {
	width: 15%;
	height: 140px;
	float: right;
	margin-top: -11%;
}
.help-box img {
	width: 20%;
	margin-bottom: 10px;
}
.help-box div {
	width: 50%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	color: #DE8600;
	text-align: center;
}
.help-box div img {
	width: 60%;
	margin-bottom: 10px;
}


/* Menu */
.page_wrapper {
	max-width: 100%;
	height: auto;
	min-height: 750px;
	background: #FFF6EA;
	margin-left: auto;
	margin-right: auto;
}

.header {
    z-index: 999;
	width: 100%;
	background: #FFFFFF;
}
.logo-field {
	width: 25%;
	float: left;
}
.logo-field img {
	width: 38%;
	margin-left: 20%;
	margin-top: 0;
}

.nav-bar {
	width: 45%;
	float: left;
}
.account {
	width: 30%;
	float: left;
}
.social {
	width: 100%;
	height: 50%;
}
.social img {
	float: right;
	width: 10%;
	margin-right: 5%;
}
.acc {
    margin-top: 15px;
	width: 100%;
	height: 50%;
}
.signup-acc {
	width: 40%;
	height: auto;
	padding: 10px;
	color: white;
	text-align: center;
	background: #FF9800;
	float: right;
	border-radius: 4px;
	border-width: 0;
	margin-right: 5%;
}
.login-acc {
	width: 35%;
	height: auto;
	padding: 10px;
	color: black;
	text-align: center;
	float: left;
	margin-left: 15%;
}
input:focus, textarea:focus, select:focus{
        outline: none;
    }
/*!* The container <div> - needed to position the dropdown content *!*/
.menu.dropdown {
    position: relative;
    display: inline-block;
    padding-top: 10px;
    margin-left: 17%;
}
.menu.dropdown.name {
    margin-left: 30px;
}
.menu.dropdown.name .dropdown-content {
    margin-top: -10%;
    width: fit-content;
    min-width: 150px;
}

.menu.dropdown.name a h1 {
    color: #FF9800;
    font-size: 20px;
}

.catego {
    margin-left: 4px;
    width: 40%;
    height: auto;
    color: black;
    font-size: 30px;
    font-weight: 10;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    margin-top: -10%;
    width: 150px;
    display: none;
    position: relative;
    background-color: #ffbc58;
    z-index: 9999;
    border-radius: 5px;
}
.dropdown-img {
    width: 150px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.notify {
    min-width: 20px;
    float: right;
    margin-top: -35px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    right: 4px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #FF9800;
    border-radius: 5px;
}

/* Show the dropdown menu on hover */
.menu.dropdown:hover .dropdown-content {
    display: block;
}

ul.menu{
    text-align: center;
    height: 70px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4a3d20;
}
li.menu {
    text-align: center;
    height: 70px;
    width: 10%;
    font-weight: bold;
    float: left;
    position: relative;
}
li.menu.text {
    padding-top: 10px;
}
li.menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}
li.menu.logo {
    width: 275px;
    height: 70px;
}
li.menu img#avatar {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    border-radius: 50%;
    background: #98C3FF;
    float: left;
}
li.menu.avatar {
    position: absolute;
    left: 77%;
    list-style-type: none;
}
li.menu.name {
    position: absolute;
    left: 79%;
    max-width: 250px;
}
li.menu a:hover {
    /* background-color: #0080ff; */
}
/* Home's Hot post  */
.newest-post {
    overflow: hidden;
    max-width: 254px;
}
#content {
    padding: 20px 10% 0 10%;
    width: 98%;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}
#search {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
#searchInput {
    padding-left: 20px;
    font-size: 20px;
    width: 78%;
    height: 50px;
    border-radius: 4px;
    border: 1px;
}
#searchedPosts {
    width: 80%;
}

#searchButton {
    font-weight: bold;
    font-size: 20px;
    min-width: 20%;
    height: 50px;
    border-radius: 4px;
    border: none;
    background-color: #FF9800;
    color: white;
}
#searchButton:hover {
    background-color: #e28700;
}
.list-group-item {
    margin: auto;
    width: 99%;
    height: 50px;
    border-radius: 4px;
    border: 1px;
}
#hotPosts .category-list .category-post {
    width: 100%;
    height: 110px;
    overflow: hidden;
}
#hotPosts .category-list .category-post a {
    font-size: 20px;
}
#hotPosts .category-list .category-post .content-foot-user a {
    font-size: 12px;
}
.login-page h3 {
    font-size: 30px;
    margin-left: 50px;
    margin-bottom: 20px;
}
#Category {
    margin-bottom: 50px;
}
#Category tr {
    height: 50px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    border-radius: 4px;
}
#Category td {
    padding-left: 20px;
    font-size: 18px;
    background-color: white;
}
#Category th {
    font-family: 'Luckiest Guy', cursive;
    font-size: 32px;
    padding-top: 30px;
    padding-left: 30px;
    background-color: #FFA530;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
}
#Category a {
    color: #2577b1;
}
#Category th a {
    color: white;
}


.category-name {
    font-family: 'Luckiest Guy', cursive;
    font-size: large;
    padding-top: 30px;
    padding-left: 30px;
}

.category-name a {
    color: black !important;
}

.tables {
    border-collapse:collapse;
    table-layout:fixed;
}

.table {
    box-shadow: 0 4px 4px 0 #0000002b;
}

.col-sm-4 {
    width: 33.3333%;
}
.col-sm-1 {
    text-align: center;
    width: 8.3333%;
}
.sm-text {
    color: darkgrey;
    font-size: 12px;
}

.post-column {
    max-width: 100px !important;
}


#header {
    position: sticky;
    float: left;
    width: 100%;
    padding: 0 0 4px 0;
    margin-top: 5px;
}

 /*Show profile */
#datepicker {
    background-color: white;
}

.radioGender {
    margin: 0 10px 0 130px;
}
.radioLabel {
    margin-right: 50px;
}

.star {
    color: red;
}

#datepicker {
    margin-bottom: 10px;
}

#endButtonsDiv {
    text-align: center;
}
#endButtonsDiv .info-button {
    border: 0;
    font-weight: 700;
    color: white;
}

 /*Screen 3->9 */
button.btn.btn-primary#submitButton {
    width: 120px;
    margin: 30px 0 0 15px;
    position: relative;
}

button.btn.btn-primary#goBackButton:hover {
    background-color: #7a8793;
}
button.btn.btn-primary#goBackButton {
    background-color: #666666;
    width: 120px;
    margin: 30px 15px 0 0;
    position: relative;
}
button.btn.btn-primary#goBackButton a#goBack {
    color: white;
}

form.has-validation-callback {
    padding: 20px;
    border: solid 1px gray;
    border-radius: 4px;
    margin-bottom: 200px;
}
span#changePassSpan{
    margin-right: -150px;
}
span#changePassSpan .sign-button {
    float: right;
    width: 50%;
}
span#changePassSpan2{
    margin-left: 20px;
}
span#changeRoleSpan{
    /*margin-left: 80px;*/
}
span#changeRoleSpan button{
    background-color: green;
}
span#changeRoleSpan button:hover{
    background-color: #00b44e;
}
button#changePassButton {
    position: relative;
}
button#changePassButton a{
    text-align: center;
    color: white;
}

div.form-group#formHeader {
    border-bottom: solid 3px #0c525d;
}

div#updateSuccessfullyMessage {
    position: center;
    font-weight: bold;
    color: green;
    text-align: center;
}
div#updateFailMessage {
    color: red;
    font-weight: bold;
    text-align: center;
}

table#example1 tr td img.avatar{
    width: 50px;
    height: 50px;
}

table#example1 tr td i {
    margin: 0 5px 0 5px;
}
table#example1 tr td.verifiedEmail {
    color: green;
}

h1 {
    display: inline-block;
}

div.addUserButton {
    display: inline-block;
    position: relative;
    float: right;
    margin: 10px 0 0 10px;
}
div.addUserButton a {
    color: white;
}
div.addUserButton button:hover{
    background-color: #00b44e;
}
div.addUserButton button {
    width: 180px;
    background-color: green;
}
h2 span#nameInfoH2 {
    position: relative;
    color: red;
}
h2#formHeader {
    min-width: 300px;
}

input.radioRole {
    margin: 0 0 0 100px;
}



/*Screen 13: show Post*/
.post-sw-body {
    width: 80%;
    margin-top: 30px;
}
#showComment h2 {
    font-size: 16px;
}
#showComment .userCmt {
    height: auto;
    min-height: 70px;
    width: 80%;
    margin-bottom: 10px;
    background-color: wheat;
    padding: 10px;
    border-radius: 4px;
}
.cmt-user-avat {
    width: 50px;
    height: auto;
    min-height: 50px;
    float: left;
    border-radius: 4px;
    border: 2px solid #FF9800;
    margin-right: 20px;
}
.cmt-info {
    width: 70%;

}
#showComment.userCmt.cmt-content {
    margin-left: 30px;
}
#writeComment {
    width: 80%;
    margin: 30px auto 50px;
}
#writeComment form {
    width: 100%;
}
#commentContent {
    height: 60px;
    display: inline-block;
    float: left;
    min-width: 87%;
    border-radius: 4px;
    padding: 10px;
    margin-right: 3%;
}
#writeCommentButton {
    height: 50px;
    display: inline-block;
    float: right;
    font-size: 14px;
    font-weight: bold;
    color: white;
    padding: 7px;
    border-radius: 4px;
    background-color: #FF9800;
    border: 0;
}
div.show-request-info-row {
    width: 200px;
    display: inline-block;
}
div.modal-body div label.show-request-info-row2 {
    font-weight: normal;
}

/*Screen 14: edit profile*/
.info-box{
    margin-top: 40px;
    width: 80%;
    background: #FFDEAE;
    box-shadow: 0px 4px 4px 0px #0000002b;
    border-radius: 4px;
}
.info-box .signup-box {
    box-shadow: 0 0 0 0;
}
.info-box img {
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #EDAA00;
    background: #98C3FF;
}

div#info-avatar-box{
    width: 39%;
    margin-left: 0;
    margin-right: initial;
    float:left;
    height:800px;
    position: relative;
    border-radius: 4px;
}

div#profile-box {
    width: 60%;
    float: right;
    margin-left:initial;
    margin-right: 0;
    position: relative;
    min-height: 800px;
    border-radius: 4px;
}

div#info-sex {
    margin-top: 10px;
    margin-left: 50%;
}

div#info-add-avatar .form-control {
    height: 45px;
}

textarea#reasonOfRequest {
    padding: 5px 10px 5px 10px;
}
.signup-box h2 {
    width: fit-content;
    font-size: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.info-button {
    margin: 0 auto 20px auto;
    width: 140px;
    padding: 12px;
    border-radius: 4px;
    background-color: #FF9800;
}
.info-button a {
    color: white;
    font-weight: 700;
}


/* Custom profile - end*/

/*Screen 13+14: change color by status*/
label.newStatus {
    color: #00aa00;
}
label.approvedStatus {
    color: #5d36a4;
}
label.rejectedStatus {
    color: red;
}
label.completedStatus {
    color: darkgray;
}

/* Custom profile - end*/

/* Screen 4: home page */
section#advertisement {
    width: 100%;
    max-height: 550px;
    background-color: pink;
}
section#advertisement img {
    max-height: 500px;
}
.advertisement-link a{
    color: white;
}

.newest-post {
    min-width: 250px;
}
.newest-post p.post-created-at {
    font-size: 12px;
    font-style: italic;
}
/* Screen 16: list notifications */
.notifications {
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    height: fit-content;
}
.notification {
    margin: 10px 100px;

    width: 80%;
    text-align: left;
    border: 1px solid black;
    border-radius: 4px;
    font-weight: bold;
}
.new_notification {
    background-color: white;
    box-shadow: 0 4px 4px 0 #0000002b;
    border-radius: 4px;
    padding: 10px;
    max-width: 100%;
    margin-bottom: 15px;
}
.new_notification .comment-text {
    max-width: 100%;
    overflow: hidden;
}
.new_notification a {
    color: #000000;
}
.request_user {
    margin-bottom: 10px;
}
.request_user_avt {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
.notifications h1 {
    font-size: 30px;
    margin-top: 1.5em;
    padding-bottom: 40px;
}
.notifications .none {
    font-size: 18px;
    color: red;
}
.new_notification.seen {
    font-weight: normal;
    background-color: lightgrey;
}

/* Screen 18: Post create */
.post-crt-body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.post-crt-body h1 {
    font-size: 30px;
    margin-top: 1.5em;
}
.post-option {
    width: 50%;
    margin-top: 20px;
    margin-bottom: 10px;
}
.post-option .option {
    height: 50px;
}
.option label {
    margin-top: 10px;
    color: black;
}
.post-option .input-form {
    width: 80%;
    float: right;
}
.post-submit {
    margin-top: -100px;
    width: 50%;
    float: right;
}
.post-button {
    height: 40px;
    width: 25%;
    margin-left: 25%;
	border-radius: 4px;
	border-width: 0;
	color: white;
	background-color: #FF9800;
}
.post-content {
    background-color: #FF9800;
}
.request {
    margin-top: 50px;
}
.accept {
    font-size: 18px;
    color: white;
    padding: 5px;
    background-color:#FF9800;
    border: 0;
    border-radius: 4px;
    margin-right: 10px;
}
.decline {
    font-size: 18px;
    color: white;
    padding: 5px;
    background-color: red;
    border: 0;
    border-radius: 4px;
}

/* Screen08 pet category */
.category-body {
    width: 94%;
    margin-top: 30px;
}
#categoryLeft {
    background-color: white;
    float: left;
    display: inline-block;
    width: 18%;
    min-height: 300px;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 #0000002b;
}
#searchTitle {
    font-weight: bold;
}
#searchTitle2 {
    font-weight: bold;
    margin-bottom: 20px;
}
.categoryRight {
    margin-bottom: 20px;
    background-color: white;
    float: right;
    display: inline-block;
    width: 18%;
    min-height: 300px;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 #0000002b;
}
#createPost {
    color: white;
    background-color: #FF9800;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    font-size: 14px;
    margin-bottom: 30px;
}
#searchInput2 {
    margin: auto;
    width: 100%;
    background-color: lightgrey;
    height: 30px;
    border-radius: 4px;
    border: 1px;
}
#searchInputCategory {
    background-color: lightgrey;
    width: 80%;
    font-size: 14px;
    height: 30px;
    border-radius: 4px;
    border: 1px;
}
#categoryMid {
    float: left;
    display: inline-block;
    width: 64%;
    min-height: 500px;
    padding: 0 4% 0 4%;
}
#categoryMid h1 {
    font-size: 48px;
}

#categoryRight {
    float: left;
    display: inline-block;
    width: 18%;
}
.top-user {
    margin: 10px 0 0 0;
}
.like-number {
    display: inline-block;
    float: right;
}
.avatar-mini {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 10px 0 0;
}

.user-name-mini {
    margin: 0 !important;
    color: #FF9800 !important;
    font-weight: bold !important;
    font-size: 12px !important;
}

.category-body h1 {
    width: 500px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    display: block;
    margin: 10px auto 10px;
}
.category-list {
    margin: 30px 0 30px 0;
}
.category-post {
    height: 220px;
    background-color: white;
    margin: 10px 0 20px 0;
    padding-top: 20px;
    box-shadow: 0 4px 4px 0 #0000002b;
    border-radius: 4px;
}
.category-post a {
    color: black;
    font-size: 24px;
    margin-left: 30px;
    margin-top: 10px;
}
.category-post .content {
    height: 100px;
    overflow: hidden;
    margin-left: 30px;
    margin-right: 30px;
}
.content p {
    color: #808080;
}
.content-foot {
    position: relative;
    min-width: 100%;
}
.content-foot div {
    margin-left: 25px;
    display: block;
    float: left;
}
.content-foot-user {
    float: right !important;
    font-size: 12px;
    margin: -3px 20px 0 0;
}
/*.content-foot-user a {*/
/*    color: #FF9800;*/
/*    font-weight: bold;*/
/*    font-size: 12px;*/
/*}*/
.content-foot i {
    color: #FF9800;
}
.fas.fa-paw {
    color: #FF9800;
}
.request-post {
    width: 60%;
    height: 50px;
    padding: 10px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 #0000002b;
}
.request-post a {
    font-size: 18px;
    color: rgb(39, 39, 39);
    font-weight: 700;
    margin-left: 20px;
}

/*Screen 13: show post*/
.author {
    margin-left: 10px;
    margin-top: 40px;
    margin-bottom: -10px;
    clear: both;
}
.author .avatar {
    float: left;
    border-radius: 4px;
}
.author .text-muted {
    margin-left: 15px;
}
.author a {
    margin-left: 15px;
    font-size: 16px;
    color: #FF9800;
    font-weight: 700;
}
#showPostContent {
    background-color: white;
    padding: 20px 20px 20px 40px;
    width: 100%;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 #0000002b;
}
#showPostContent p img {
    width: auto;
    max-width: 800px;
    max-height: 800px;
}
#showPost {
    word-wrap: break-word;
}
#showPostTitle {
    text-align: center;
    margin: 10px 0 30px 0;
    font-size: 40px;
    font-weight: 400;
}
#show-comment {
    margin-top: 50px;
    width: 100%;
}
#likePostButton {
    margin: 20px;
    float: right;
}
#likePostNumber {
    font-size: 20px;
    float: right;
    margin: 10px 10px 0 10px;
}
.comment {
    background-color: white;
    min-width: 50px;
    margin: 10px 10px 15px 10px;
    border: 1px solid darkgrey;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 #0000002b;
    height: fit-content;
}
.left-comment {
    word-wrap: break-word;
    position: relative;
    float: left;
    width: 10%;
    padding: 20px;
    display: inline-block;
    border: 1px solid darkgrey;
    border-radius: 4px;
    margin-right: 20px;
}
.right-comment {
    position: relative;
    margin: 10px 10px 0 0;
    height: fit-content;
    width: 85%;
    display: inline-block;
}
.right-top-comment {
    position: static;
    display: inline-block;
    min-width: 100%;
    border-bottom: 1px solid darkgrey;
}
.comment-created-at {
    float: left;
}
.like-comment-button {
    float: right;
    display: inline-block;
}
.fa.fa-thumbs-up {
    width: 20px;
}
.comment-content {
    word-wrap: break-word;
    font-size: 18px;
    display: block;
    position: relative;
    height: fit-content;
    min-height: 70px;
}
.avatar {
    width: 50px;
    height: 50px;
}
b.user-name {
    color: #FF9800 !important;
    display: block;
}

footer {
    border-top: 2px solid darkgrey;
    margin-top: 50px;
    width: 100%;
    background-color: white;
    padding-bottom: 20px;
}
/* Layout */
.footer-left {
    width: 50%;
    font-size: 10px;
    padding-left: 4%;
    display: block;
    float: left;
    border-right: 1px solid #0000002b;
}
.footer-left header {
    width: fit-content;
    margin: 10px auto;
}
.footer-left h {
    display: block;
    height: 20px;
    clear: both;
    margin-bottom: 10px;
}
.footer-left .ruler_name {
    margin-top: 25px;
    margin-left: 20px;
    color: #FF9800;
    font-weight: 400;
}
.left-left {
    width: 40%;
    float: left;
}
.footer-left .left-left img {
    width: 50px;
    height: 50px;
    float: left;
}
.left-right {
    width: 40%;
    float: right;
}
.footer-left .left-right img {
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 50%;
}
.footer-right {
    width: 50%;
    padding-right: 4%;
    padding-left: 4%;
    display: block;
    float: right;
}
.footer-right h {
    display: block;
    height: 20px;
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #FF9800;
    font-weight: 700;
}
.footer-right a {
    color: #808080;
}
/* Login */
button#loginButton {
    opacity: 0.9;
}

/* Screen 20: User info addition */

#user-cardbody {
    margin-top: 2%;
    width: 95%;
}

#user-cardbody .signup-box {
    background-color: #FF9800;
    height: 500px;
}

#user-avatar-box {
    width: 60%;
}

#user-avatar-box img {
    border: 8px solid #FFFFFF;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 30% 20% 30% 20%;
}

#user-profile-box {
    color: #000000;
    font-size: 19px;
    margin-left: 5px;
    margin-right: 5px;
}

#user-profile-box h2{
    color: #000000;
    margin-top: 100px;
    padding-left: 76px;
    width: 100%;
}

#user-profile-box .input-field {
    margin: 5px auto 5px 77px;
    width: 80%;
}

.white-box {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: #FFFFFF;
    text-align: center;
    height: 300px;
    border-radius: 4px;
    font-size: 22px;
    position: relative;
}

#user-status {
    width: 60%;
    min-height: 400px;
}

#user-status .input-field{
    margin: 0 auto;
    width: 100%;

}

.input-field#status-tittle{
    margin: 0 auto 35px;
    font-weight: bold;
    width: 100%;
}

/* Notice style */
.noti-time{
    font-size: 18px;
}

#noti-from{
    font-weight: normal;
    font-size: 20px;
}

#noti-name{
    font-weight: normal;
    font-size: 20px;
    color: #FF9800;
}

#noti-title{
    font-weight: bold;
    font-size: 25px;
}

#noti-content{
    font-weight: normal;
    font-size: 16px;
}

.comment-text img{
    border-radius: 50%;
}
